# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Gitクライアントを起動'
      'command': 'atom-open-git-client:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-open-git-client'
      'submenu': [
        {
          'label': 'Gitクライアントを起動'
          'command': 'atom-open-git-client:open'
        }
      ]
    ]
  }
]
